<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section {{ with .Block.class }} {{ . }} {{ end }}"
>
  <div class="container has-text-left has-text-centered-mobile">
    <div class="columns is-size-6">
      <div class="column">
        {{- with .Block.subtitle_left -}}
          <p class="subtitle is-4">{{ . }}</p>
          <hr>
        {{- end -}}

        {{- with .Block.options -}}
          {{ range . }}
          <div class="contact-info">
            <span class="icon">
              <i class="{{ .fa_icon }}"></i>
            </span>
            <p>
              {{ markdownify .content }}
            </p>
          </div>
          {{- end -}}
        {{- end -}}
      </div>

      <div class="column is-three-fifths">
        {{- with .Block.subtitle_right -}}
          <p class="subtitle is-4">{{ . }}</p>
          <hr>
        {{- end -}}

        <form action="{{ .Block.form_action }}" method="post">
          <div class="columns is-desktop is-multiline">
            <div class="column is-half-desktop">
              <div class="control has-icons-left">
                <input name="name" aria-label="Name" class="input is-medium" type="text" placeholder="Nombre">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="column is-half-desktop">
              <div class="control has-icons-left">
                <input name="email" aria-label="Email" class="input is-medium" type="text" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="column is-full">
              <div class="control">
                <textarea name="message" aria-label="Message" class="textarea is-medium" placeholder="Mensaje" rows="6"></textarea>
              </div>
            </div>
            <div class="column is-full">
              <div class="field is-grouped is-grouped-left">
                <div class="control">
                  <input type="submit" aria-label="Submit" value="Enviar Mensaje" name="Enviar Mensaje" class="button is-primary is-outlined">
                </div>
              </div>
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_subject" value=" {{ .Block.form_subject }} " />
          <input type="hidden" name="_language" value="es" />
        </form>
      </div>
    </div>
  </div>
</section>



