<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section section-features {{ with .Block.class }} {{ . }} {{ end }}"
>
	<div class="container">

		{{- with .Block.title -}}
			<h2 class="title is-3 has-text-centered">
				{{ . }}
			</h2>
		{{- end -}}

		{{- with .Block.subtitle -}}
			<p class="subtitle is-4 has-text-centered">
				{{ . }}
			</p>
		{{- end -}}

		{{- with .Block.description -}}
			<p class="has-text-centered">
				{{ markdownify . }}
			</p>
		{{- end -}}

		<div class="columns is-mobile is-multiline is-centered">

			{{ range .Block.features }}
				<div class="column is-full-mobile is-half-tablet is-one-third-desktop has-text-centered" data-aos="flip-left" data-aos-once="true">
					<figure class="image">
						<img src="{{ .image | relURL }}" alt="{{ .title }}">
					</figure>
					<p class="title is-4">{{ .title }}</p>
					<div class="content is-medium">
						<p>{{ .description }}</p>
					</div>
				</div>
			{{ end }}

		</div>

	</div>
</section>
