<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="hero {{ with .Block.class }} {{ . }} {{ end }}"
	{{ with .Block.background_image }}
	style="background: linear-gradient(to bottom, rgba(70, 138, 206, 0.3) 30%, rgba(51, 85, 119, 1) 100%), url({{ . | absURL }}) no-repeat center/cover fixed;"
	{{ end }}
>

  {{ if isset .Block "navbar" }}
    <div class="hero-header">
      {{ $context := (dict "Site" .Site "Block" .Block.navbar) }}
      {{ partial "blocks/navbar.html" $context }}
    </div>
  {{ end }}

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">

      <div class="column has-text-centered">
        {{ with .Block.title }}
          <h2 class="title is-1" data-aos="zoom-in" data-aos-duration="500">{{ . }}</h2>
        {{ end }}
        {{ with .Block.subtitle }}
          <p class="subtitle is-2" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">{{ . }}</p>
        {{ end }}
        {{ with .Block.description }}
          <p>{{ markdownify . }}</p>
        {{ end }}
      </div>

      {{ with .Block.image }}
        <div class="column is-one-third" data-aos="flip-left" data-aos-delay="500">
          <img src="{{ . }}">
        </div>
      {{ end }}

      </div>
    </div>
  </div>

</section>
