<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section {{ with .Block.class }} {{ . }} {{ end }}"
>
	<div class="container">

		{{- with .Block.title -}}
			<h2 class="title is-3 has-text-centered">
				{{ . }}
			</h2>
		{{- end -}}

		{{- with .Block.subtitle -}}
			<p class="subtitle is-4 has-text-centered">
				{{ . }}
			</p>
		{{- end -}}

		{{- with .Block.description -}}
			<p class="has-text-centered">
				{{ markdownify . }}
			</p>
		{{- end -}}

		<div id="members" class="columns is-centered">

			{{ range .Block.members }}
				<div class="column is-one-third-desktop">
          <div class="card card-equal-height">
            <div class="card-image" data-aos="flip-right" data-aos-once="true">
              <figure class="image is-1by1">
                <img id="member-photo" class="is-rounded fit-cover" src="{{ .photo }}"/>
              </figure>
            </div>

            <div class="card-content has-text-centered">

              <h3 class="title is-4 is-size-3-fullhd">{{ .name }}</h3>

              <div class="content">
                <span class="icon">
                  <i class="fas fa-quote-left" style="color: lightgrey;"></i>
                </span>
                {{ .quote }}
              </div>

              <div class="social buttons is-centered">
                {{- range .links -}}
                  <a href="{{ .url }}" target="_blank" title="{{ .title }}" class="button is-primary is-inverted">
                    <span class="icon is-large">
                    {{ if eq "Website" .title }}
                      <i class="fas fa-globe fa-lg"></i>
                    {{ else if eq "Github" .title }}
                      <i class="fab fa-github fa-lg"></i>
                    {{ else if eq "Gitlab" .title }}
                      <i class="fab fa-gitlab fa-lg"></i>
                    {{ else if eq "Facebook" .title }}
                      <i class="fab fa-facebook-f fa-lg"></i>
                    {{ else if eq "Twitter" .title }}
                      <i class="fab fa-twitter fa-lg"></i>
                    {{ else if eq "Linkedin" .title }}
                      <i class="fab fa-linkedin-in fa-lg"></i>
                    {{ else }}
                      <i class="fas fa-link fa-lg"></i>
                    {{ end }}
                    </span>
                  </a>
                {{ end }}
              </div>

            </div>
          </div>
				</div>
			{{ end }}

		</div>

	</div>
</section>

<script type="text/javascript">
  // Random order for member cards
  let members = document.querySelector('#members');
  for (var i = members.children.length; i >= 0; i--) {
    members.appendChild(members.children[Math.random() * i | 0]);
  }
</script>

