<nav
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="navbar {{ with .Block.class }} {{ . }} {{ end }}"
>
  <div class="container">

    <div class="navbar-brand">
      <a href="{{ .Site.Home.Permalink }}" class="navbar-item">

        {{ if .Site.Params.Logo -}}
          <img src="{{ .Site.Params.Logo | relURL }}" alt="{{ .Site.Title }}">
        {{ else }}
          <p>{{ .Site.Title }}</p>
        {{ end }}
      </a>
      <span class="navbar-burger burger" data-target="main-navbar">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="main-navbar" class="navbar-menu">
      <div class="navbar-end">

        {{- range .Site.Menus.main.ByWeight -}}
          {{- if .HasChildren -}}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" title="{{ .Name }}" href="{{ .URL }}">
              {{ with .Page }}
                {{ with .Params.menu_icon }}
                  <span class="icon is-medium">
                    <i class="fa {{ . }}"></i>
                  </span>
                {{ end }}
              {{ end }}
              {{ .Name }}
            </a>
            <div class="navbar-dropdown is-transparent is-boxed">
              {{- range .Children -}}
                <a class="navbar-item is-large" title="{{ .Name }}" href="{{ .URL }}">
                  {{ .Name }}
                </a>
              {{- end -}}
            </div>
          </div>
          {{- else -}}
            <a class="navbar-item" title="{{ .Name }}" href="{{ .URL }}">
              {{ with .Page }}
                {{ with .Params.menu_icon }}
                  <span class="icon is-medium">
                    <i class="fa {{ . }}"></i>
                  </span>
                {{ end }}
              {{ end }}
              {{ .Name }}
            </a>
          {{- end -}}
        {{- end -}}

        <!-- Language Links -->
        {{ range $.Site.Home.AllTranslations }}
          <a href="{{ .Permalink }}" class="navbar-item">{{ .Language | title }}</a>
        {{ end }}

      </div>
    </div>

  </div>
</nav>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  });

</script>
