<section
  {{ with .Block.id }} id="{{ . }}" {{ end }}
  class="section {{ with .Block.class }} {{ . }} {{ end }}"
>
	<div class="container">

		{{- with .Block.title -}}
			<h2 class="title is-3 has-text-centered">
				{{ . }}
			</h2>
		{{- end -}}

		{{- with .Block.subtitle -}}
			<p class="subtitle is-4 has-text-centered">
				{{ . }}
			</p>
		{{- end -}}

		{{ range .Block.services }}
			<div class="columns is-vcentered" {{ if .inverted }}style="flex-direction: row-reverse;"{{ end }} data-aos="flip-up" data-aos-once="true">

				<!-- Service Image -->
				<div class="column is-three-fifths-mobile is-offset-one-fifth-mobile">
					<figure class="image is-3by2">
						<img src="{{ .image | relURL }}" alt="{{ .title }}">
					</figure>
				</div>

				<!-- Service Body -->
				<div class="column is-three-fifths">
					<p class="title is-4 is-spaced">{{ .title }}</p>
					<p class="subtitle">{{ .description }}</p>
          {{ with .points }}
					<div class="content">
						<ul class="custom-ul fa-ul">
							{{range . }}
								<li><span class="fa-li" ><i class="far fa-check-circle"></i></span>{{ . }}</li>
							{{end}}
						</ul>
          </div>
					{{ end }}
					{{ with .cta }}
						<p><a class="button is-primary is-outlined" href="{{ .url }}">{{ .title }}</a></p>
					{{ end }}
				</div>
			</div>
		{{ end }}

	</div>
</section>

